<div class="cart" id="cart" *ngIf="showCart">
  <div class="cart__image">
    <img src="assets/images/cart.png" class="cart__img" alt="Корзина">
    <div class="cart__count">{{cartService.count}}</div>
  </div>
  <div class="cart__cloud" id="cart__cloud">
    <div class="cart__triangle"></div>
    <div class="cart__text">
      {{cartService.sum | currency: 'руб.' : 'symbol' : '1.2-2': 'be'}}
    </div>
  </div>
</div>
<header class="header">
  <div class="header__container container">
    <div class="header__logo logo">
      <a href="#"><img src="assets/images/logo.png" alt="Логотип"></a>
    </div>
    <nav class="menu" id="menu" #menuElement>
      <ul class="menu__list">
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(productsElement)">Пироженки</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(advantagesElement)">О нас</a>
        </li>
        <li class="menu__item">
          <a href="#" class="menu__link" (click)="scrollTo(orderElement)">Оформить заказ</a>
        </li>
      </ul>
    </nav>
    <div class="burger" id="burger" (click)="toggleMenuClass(menuElement)"></div>
    <div class="header__contact contact"><a href="tel:{{ourPhone}}" class="header__contact-link contact-link">{{ourPhone | prettyPhone}}</a></div>
  </div>
</header>
<section class="main">
  <div class="main__container container">
    <div class="main__info">
      <h1 class="main__title">
        Мягкие французские пироженки Macaroons
      </h1>
      <div class="main__text">Побалуйте себя и своих близких самыми вкусными и ароматными домашними пироженками
        Macaroon!
      </div>
      <button class="main__btn btn" (click)="scrollTo(productsElement)" btnBackground>Выбрать макарун</button>
    </div>
    <div class="main__image">
      <div class="main__circle1"></div>
      <div class="main__circle2"></div>
      <img src="assets/images/main_img.png" alt="Макаруны" class="main__image-img">
    </div>
  </div>
</section>
<section class="advantages" #advantagesElement>
  <div class="advantages__container container">
    <div class="advantages__info">
      <h2 class="advantages__title title">
        Мы печём для вас вкуснейшие макаруны уже более 10 лет
      </h2>
      <div class="advantages__text text">
        Все пироженки мы готовим только из натуральных и качественных продуктов, без консервантов,
        ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без дрожжей,
        маргарина,
        разрыхлителей и улучшителей муки.
      </div>
    </div>
    <div class="advantages__image">
      <img class="advantages__image-img" src="assets/images/macaroon.png" alt="Макарун">
    </div>
    <advantage *ngFor="let advantage of advantages; let i = index;" [advantage] = "advantage" [index] = "i"></advantage>
  </div>
</section>
<section class="products" #productsElement>
  <div class="products__container container">
    <h2 class="products__title title">Выберите свой макарун</h2>
    <div class="products__items">
      <product *ngFor="let product of products" [product]="product" (addToCartEvent)="addToCart(product, orderElement)"></product>
    </div>
  </div>
</section>
<section class="order" #orderElement>
  <div class="order__container container">
    <div class="order__strawberry1">
      <img src="assets/images/strawberry1.png" alt="Клубника" class="order__strawberry1-img">
    </div>
    <div class="order__strawberry2">
      <img src="assets/images/strawberry2.png" alt="Клубника" class="order__strawberry2-img">
    </div>
    <div class="order__image">
      <img src="assets/images/order.png" alt="" class="order__image-img">
    </div>
    <div class="order__content">
      <h2 class="order__title title">Закажите макарун!</h2>
      <div class="order__text">
        Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего пекаря!
      </div>
      <form class="order__form" action="#">
        <label for="choice" class="order__label">Ваш выбор</label>
        <input id="choice" name="choice" class="order__input" type="text" placeholder="Напишите, что хотите заказать..." [(ngModel)]="formValues.choice">
        <label for="name" class="order__label">Заполните данные для заказа</label>
        <input id="name" name="name" class="order__input" type="text" placeholder="Ваше имя" [(ngModel)]="formValues.name">
        <input id="phone" name="phone" class="order__input" type="text" placeholder="+375 (__) ___ - __ - __" [(ngModel)]="formValues.phone">
        <button class="order__btn btn">Оформить заказ</button>
      </form>
    </div>
  </div>
</section>
<footer class="footer">
  <div class="footer__container container">
    <div class="footer__logo logo">
      <a href="#"><img src="assets/images/logo.png" alt="Логотип"></a>
    </div>
    <div class="footer__instagram-image">
      <a [href]="instagramHref" class="footer__instagram-link"><img src="assets/images/instagram.png" alt="Инстаграм"></a>
    </div>
    <div class="footer__rights">Все права защищены, 2020</div>
    <div class="footer__instagram-text">
      <a [href]="instagramHref" class="footer__instagram-link">Мы в Instagram</a>
    </div>
    <div class="footer__contact contact"><a href="tel:{{ourPhone}}" class="footer__contact-link contact-link">{{ourPhone | prettyPhone}}</a></div>
  </div>
</footer>
