* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Tavolga;
  src: url("assets/fonts/TavolgaFree.ttf");
}

@font-face {
  font-family: GilroyRegular;
  src: url("assets/fonts/GilroyRegular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: GilroyMedium;
  src: url("assets/fonts/GilroyMedium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: GilroyBold;
  src: url("assets/fonts/GilroyBold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: GilroyExtrabold;
  src: url("assets/fonts/GilroyExtrabold.ttf");
  font-weight: 800;
}

body {
  font-family: GilroyRegular, sans-serif;
  margin: 0;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
}

button.btn {
  background: linear-gradient(90deg, rgb(113, 8, 30), rgb(215, 72, 92));
  padding: 21px 41px;
  border: none;
  outline: none;
  border-radius: 30px;
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 0.4px;
  font-family: GilroyBold, sans-serif;
  color: rgb(255, 255, 255);
  transition: all 0.3s;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.btn:hover {
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

.title {
  font-size: 45px;
  font-family: Tavolga, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.222;
  text-align: left;
  font-weight: 400;
  position: relative;
  z-index: 10;
}

.text {
  font-size: 18px;
  font-family: GilroyRegular, sans-serif;
  color: rgb(51, 25, 7);
  line-height: 1.556;
}
/* You can add global styles to this file, and also import other style files */
